on: [push, pull_request]

jobs:
  push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.GIT_SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          echo "${{ secrets.GIT_SSH_KNOWN_HOSTS }}" > ~/.ssh/known_hosts
          git config --global core.sshCommand 'ssh -i ~/.ssh/id_rsa -o IdentitiesOnly=yes -o UserKnownHostsFile=~/.ssh/known_hosts'
          git remote add mirror ssh://git@codeberg.org/LocalCharts/forest.git
          git push --tags --force --prune mirror 'refs/remotes/origin/*:refs/heads/*'
